#box{
    display: grid;
    align-items: center;
    margin-left: 14px;
    margin-right: 14px;
    background:#16a085;
    color:#fff;
    text-align: center;
    font-size: 30px;
    border: double 20px black;
}

i {
    font-size: 100px;
    color: white;
    position: relative; /*important*/
}

/*---------------------------------------------------------------*/
body{
    font-size: 17px;
    font-family: arial;
    background: #f4f4f4;
    line-height: 1.5em;
    background-color: black;
    display: grid;
    grid-template-rows: 1fr .5fr 1.2fr .5fr 3fr;
    overflow-x: hidden
}

header {
    position: relative;
    height: 150px;
    background-image: linear-gradient(#16a085, #3498db);
    padding-left: 20px;
}
  
h1 {
    font: 44px "Arial";
}
  
header h1 {
    color: white;
    transform: scale(1, 1.7);
    padding-top: 8px;
}

svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
}
#container{
    width:90%;
    margin:auto;
    padding:10px;
}

#top-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#bottom-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

button {
color: white;
border: 2px solid #3498db;
background-color: black;
border-radius: 5px;
height: 40px;
width: 131px;
font-size: 18px;
cursor: pointer;
}

button:hover {
    background-color: #3498db;
    transform: scale(1.1);
    font-weight: bold;
}